<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robô: Zé - Controle do Dobot </title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" sizes="16x16 32x32 48x48">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='logs.css') }}">
</head>
<body>
    <div id="conteudo">
        <h1>Controle do Robô</h1>
        <div class="navlist" hx-get="/conexao" hx-trigger="load"></div>
        <div id="opcoes" hx-get="/robot-move" hx-trigger="load"></div>
        <div id="resultado"></div>
        <div>
            <a href="/">Voltar para página inicial</a>
        </div>
    </div>
</body>
</html>