<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home: Zé - Página Inicial</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" sizes="16x16 32x32 48x48">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <h2 class="navlist"> Controle seu robô via HTMX e observe os logs</h2>
            <a class="navlist" href="/logs">Página de logs</a>
            <a class="navlist" href="/dobot">Página do robô</a>
        </nav>
    </header>
    <div id="conteudo"> 
    </div>
</body>
</html>